.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  color: var(--fushia);

  a {
    display: flex;
    align-items: center;
  }
}

.name_wrapper {
  display: flex;
  align-items: center;

  & .name {
    margin-right: 10px;
  }
}

.description {
  font-family: inherit;
  margin-top: 20px;
}

.payment-methods {
  @media (max-width: 480px) {
    width: 160px;
    text-align: right;
  }
}
