// carousellBanner Customization
.carousell {
  .glide__arrows {
    .glide__arrow {
      transition: all 0.4s;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background-color: rgba(white, 0.4);

      &:hover {
        background-color: rgba(white, 0.6);
      }
    }
  }

  .glide__track {
    .glide__slides {
      .glide__slide {
        img {
          height: 180px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
