/*=======================================*\ 
  GRID
\*=======================================*/

main {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.4s;
}
.character {
  position: relative;
  transition: 0.4s;
  border: none;
  width: 18%;
  margin: 1%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 2px 20px 0px #08080824;

  &:hover {
    box-shadow: 0px 2px 20px 0px #8f8f8fb9;
  }

  &:hover .character_img {
    transform: scale(1.1);
  }
}

@supports (display: grid) {
  main {
    display: grid;
    grid-row-gap: 20px;
    justify-content: space-between;
    grid-template-columns: repeat(5, 240px);
    grid-auto-rows: auto;

    @media (max-width: 1280px) {
      grid-template-columns: repeat(4, 240px);
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 240px);
    }

    @media (max-width: 770px) {
      grid-template-columns: repeat(2, 240px);
    }
    @media (max-width: 540px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }
  }
  .character {
    width: 100%;
    margin: 0;

    @media (max-width: 520px) {
      width: 160px;
      height: 240px;
    }
  }
}

.character_img {
  display: block;
  width: 100%;
  height: 355px;
  object-fit: cover;
  transition: all .4s ease;

  @media (max-width: 520px) {
    height: auto;
  }
}
.character > footer {
  position: absolute;
  bottom: 0;
  height: 160px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  background-image: linear-gradient(180deg, transparent, rgba(0,0,0,0.75));
  pointer-events: none;
}
.left-col .name_wrapper {
  display: flex;
  align-items: center;
}
.left-col .name_wrapper .name {
  display: inline-block;
  text-transform: capitalize;
  color: var(--white);
  margin-right: 6px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;

  @media (max-width: 520px) {
    font-size: 16px;
  }
}
.left-col .desc {
  color: var(--white);
  font-size: 18px;

  @media (max-width: 520px) {
    font-size: 12px;
  }
}
