.btn {
  margin-top: 20px;
  border: none;
  background-color: #ea4c89;
  color: #fff;
  height: 40px;
  width: 200px;
  border-radius: 8px;
  transition: 0.4s;
  cursor: pointer;

  @media (max-width: 600px) {
    width: 100%;
  }

  &:disabled {
    background-color: lighten(#ea4c89, 10);
  }
}
