/*=======================================*\
  Header
\*=======================================*/
.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu-wrapper {
  transition: 1s;
  position: relative;
  width: 100%;
}

.menu-fixed {
  transition: 1s;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.78);
}

.menu {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .brand {
  color: white;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}

.menu ul li {
  color: var(--white);
  display: flex;
  height: 100%;
}

.menu a {
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  color: white;
}

.menu .brand a {
  padding: 0;

  img {
    height: 50px;
    width: 190px;
    object-fit: contain;

    @media (max-width: 600px) {
      height: 35px;
      width: 140px;
    }
  }
}

.menu {
  .menu-option {
  
  @media (max-width: 480px) {
    display: none;
  }

  &:hover {
    transition: 0.4s;
    background: rgba(204, 204, 204, 0.274);
  }
  }

  .button {
    height: 30px;

      @media (max-width: 480px) {
        height: 24px;
    font-size: 12px;
    padding: 0 10px;
  }
  }
}

// Custom border animation for button
#box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.gradient-border {
  --borderWidth: 4px;
  position: relative;
  border-radius: var(--borderWidth);
  z-index: 10;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  z-index: -1;
}

@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}